{"_id":"proj-e94cd2e1-935e-4296-816b-4a2bf7a41edb","title":"Sample Project: Weekly coursework","description":"A project to manage and track progress of a sudents weekly assignments.","fromDate":"01/06/2020","deadline":"01/10/2020","fileLoc":"C:\\Users\\Tony\\Documents\\KanDoList\\Weekly coursework.kdl","todo":[{"_id":"task-de701590-fa91-495e-b83e-3ae435e78ec4","description":"Android development assignment","deadline":"01/10/2020"},{"_id":"task-82931b55-b554-43de-95af-eccb842b1b9c","description":"History of the internet assignment 2","deadline":"01/09/2020"}],"beingWorkedOn":[{"description":"Strategic managment assignment. ","deadline":"01/07/2020"}],"doubleChecking":[{"description":"History of the internet assignment 1","deadline":"01/08/2020"}],"finished":[{"description":"Discrete Mathematics assignment","deadline":"01/09/2020"}]}